<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<integer>0</integer>
	<key>0b</key>
	<integer>0</integer>
	<key>1</key>
	<integer>0</integer>
	<key>10</key>
	<integer>1</integer>
	<key>10b</key>
	<integer>2</integer>
	<key>11</key>
	<integer>1</integer>
	<key>11b</key>
	<integer>1</integer>
	<key>12</key>
	<integer>0</integer>
	<key>12b</key>
	<integer>0</integer>
	<key>13</key>
	<integer>0</integer>
	<key>13b</key>
	<integer>0</integer>
	<key>14</key>
	<integer>0</integer>
	<key>14b</key>
	<integer>0</integer>
	<key>15</key>
	<integer>0</integer>
	<key>15b</key>
	<integer>0</integer>
	<key>16</key>
	<integer>0</integer>
	<key>16b</key>
	<integer>0</integer>
	<key>17</key>
	<integer>0</integer>
	<key>17b</key>
	<integer>0</integer>
	<key>18</key>
	<integer>0</integer>
	<key>18b</key>
	<integer>0</integer>
	<key>19</key>
	<integer>0</integer>
	<key>19b</key>
	<integer>0</integer>
	<key>1b</key>
	<integer>0</integer>
	<key>2</key>
	<integer>0</integer>
	<key>20</key>
	<integer>0</integer>
	<key>20b</key>
	<integer>0</integer>
	<key>21</key>
	<integer>1</integer>
	<key>21b</key>
	<integer>1</integer>
	<key>22</key>
	<integer>1</integer>
	<key>22b</key>
	<integer>2</integer>
	<key>23</key>
	<integer>1</integer>
	<key>23b</key>
	<integer>2</integer>
	<key>24</key>
	<integer>1</integer>
	<key>24b</key>
	<integer>2</integer>
	<key>25</key>
	<integer>1</integer>
	<key>25b</key>
	<integer>2</integer>
	<key>26</key>
	<integer>1</integer>
	<key>26b</key>
	<integer>2</integer>
	<key>27</key>
	<integer>1</integer>
	<key>27b</key>
	<integer>2</integer>
	<key>28</key>
	<integer>1</integer>
	<key>28b</key>
	<integer>1</integer>
	<key>29</key>
	<integer>0</integer>
	<key>29b</key>
	<integer>0</integer>
	<key>2b</key>
	<integer>0</integer>
	<key>3</key>
	<integer>0</integer>
	<key>30</key>
	<integer>0</integer>
	<key>30b</key>
	<integer>0</integer>
	<key>31</key>
	<integer>0</integer>
	<key>31b</key>
	<integer>0</integer>
	<key>32</key>
	<integer>0</integer>
	<key>32b</key>
	<integer>0</integer>
	<key>33</key>
	<integer>0</integer>
	<key>33b</key>
	<integer>0</integer>
	<key>34</key>
	<integer>0</integer>
	<key>34b</key>
	<integer>0</integer>
	<key>35</key>
	<integer>0</integer>
	<key>35b</key>
	<integer>0</integer>
	<key>36</key>
	<integer>0</integer>
	<key>36b</key>
	<integer>0</integer>
	<key>37</key>
	<integer>1</integer>
	<key>37b</key>
	<integer>1</integer>
	<key>38</key>
	<integer>1</integer>
	<key>38b</key>
	<integer>2</integer>
	<key>39</key>
	<integer>1</integer>
	<key>39b</key>
	<integer>3</integer>
	<key>3b</key>
	<integer>0</integer>
	<key>4</key>
	<integer>0</integer>
	<key>40</key>
	<integer>1</integer>
	<key>40b</key>
	<integer>2</integer>
	<key>41</key>
	<integer>1</integer>
	<key>41b</key>
	<integer>2</integer>
	<key>42</key>
	<integer>1</integer>
	<key>42b</key>
	<integer>3</integer>
	<key>43</key>
	<integer>1</integer>
	<key>43b</key>
	<integer>2</integer>
	<key>44</key>
	<integer>1</integer>
	<key>44b</key>
	<integer>1</integer>
	<key>45</key>
	<integer>0</integer>
	<key>45b</key>
	<integer>0</integer>
	<key>46</key>
	<integer>0</integer>
	<key>46b</key>
	<integer>0</integer>
	<key>47</key>
	<integer>0</integer>
	<key>47b</key>
	<integer>0</integer>
	<key>48</key>
	<integer>0</integer>
	<key>48b</key>
	<integer>0</integer>
	<key>49</key>
	<integer>0</integer>
	<key>49b</key>
	<integer>0</integer>
	<key>4b</key>
	<integer>0</integer>
	<key>5</key>
	<integer>0</integer>
	<key>50</key>
	<integer>0</integer>
	<key>50b</key>
	<integer>0</integer>
	<key>51</key>
	<integer>0</integer>
	<key>51b</key>
	<integer>0</integer>
	<key>52</key>
	<integer>0</integer>
	<key>52b</key>
	<integer>0</integer>
	<key>53</key>
	<integer>1</integer>
	<key>53b</key>
	<integer>1</integer>
	<key>54</key>
	<integer>1</integer>
	<key>54b</key>
	<integer>2</integer>
	<key>55</key>
	<integer>1</integer>
	<key>55b</key>
	<integer>2</integer>
	<key>56</key>
	<integer>1</integer>
	<key>56b</key>
	<integer>2</integer>
	<key>57</key>
	<integer>1</integer>
	<key>57b</key>
	<integer>2</integer>
	<key>58</key>
	<integer>1</integer>
	<key>58b</key>
	<integer>2</integer>
	<key>59</key>
	<integer>1</integer>
	<key>59b</key>
	<integer>2</integer>
	<key>5b</key>
	<integer>0</integer>
	<key>6</key>
	<integer>1</integer>
	<key>60</key>
	<integer>1</integer>
	<key>60b</key>
	<integer>1</integer>
	<key>61</key>
	<integer>0</integer>
	<key>61b</key>
	<integer>0</integer>
	<key>62</key>
	<integer>0</integer>
	<key>62b</key>
	<integer>0</integer>
	<key>63</key>
	<integer>0</integer>
	<key>63b</key>
	<integer>0</integer>
	<key>64</key>
	<integer>0</integer>
	<key>64b</key>
	<integer>0</integer>
	<key>65</key>
	<integer>0</integer>
	<key>65b</key>
	<integer>0</integer>
	<key>66</key>
	<integer>0</integer>
	<key>66b</key>
	<integer>0</integer>
	<key>67</key>
	<integer>0</integer>
	<key>67b</key>
	<integer>0</integer>
	<key>68</key>
	<integer>0</integer>
	<key>68b</key>
	<integer>0</integer>
	<key>69</key>
	<integer>1</integer>
	<key>69b</key>
	<integer>1</integer>
	<key>6b</key>
	<integer>1</integer>
	<key>7</key>
	<integer>1</integer>
	<key>70</key>
	<integer>1</integer>
	<key>70b</key>
	<integer>2</integer>
	<key>71</key>
	<integer>1</integer>
	<key>71b</key>
	<integer>2</integer>
	<key>72</key>
	<integer>1</integer>
	<key>72b</key>
	<integer>2</integer>
	<key>73</key>
	<integer>1</integer>
	<key>73b</key>
	<integer>2</integer>
	<key>74</key>
	<integer>1</integer>
	<key>74b</key>
	<integer>2</integer>
	<key>75</key>
	<integer>1</integer>
	<key>75b</key>
	<integer>2</integer>
	<key>76</key>
	<integer>1</integer>
	<key>76b</key>
	<integer>1</integer>
	<key>77</key>
	<integer>0</integer>
	<key>77b</key>
	<integer>0</integer>
	<key>78</key>
	<integer>0</integer>
	<key>78b</key>
	<integer>0</integer>
	<key>79</key>
	<integer>0</integer>
	<key>79b</key>
	<integer>0</integer>
	<key>7b</key>
	<integer>2</integer>
	<key>8</key>
	<integer>1</integer>
	<key>80</key>
	<integer>0</integer>
	<key>80b</key>
	<integer>0</integer>
	<key>81</key>
	<integer>0</integer>
	<key>81b</key>
	<integer>0</integer>
	<key>82</key>
	<integer>0</integer>
	<key>82b</key>
	<integer>0</integer>
	<key>83</key>
	<integer>0</integer>
	<key>83b</key>
	<integer>0</integer>
	<key>84</key>
	<integer>0</integer>
	<key>84b</key>
	<integer>0</integer>
	<key>85</key>
	<integer>0</integer>
	<key>85b</key>
	<integer>0</integer>
	<key>86</key>
	<integer>1</integer>
	<key>86b</key>
	<integer>1</integer>
	<key>87</key>
	<integer>1</integer>
	<key>87b</key>
	<integer>2</integer>
	<key>88</key>
	<integer>1</integer>
	<key>88b</key>
	<integer>3</integer>
	<key>89</key>
	<integer>1</integer>
	<key>89b</key>
	<integer>3</integer>
	<key>8b</key>
	<integer>2</integer>
	<key>9</key>
	<integer>1</integer>
	<key>90</key>
	<integer>1</integer>
	<key>90b</key>
	<integer>2</integer>
	<key>91</key>
	<integer>1</integer>
	<key>91b</key>
	<integer>1</integer>
	<key>92</key>
	<integer>0</integer>
	<key>92b</key>
	<integer>0</integer>
	<key>93</key>
	<integer>0</integer>
	<key>93b</key>
	<integer>0</integer>
	<key>94</key>
	<integer>0</integer>
	<key>94b</key>
	<integer>0</integer>
	<key>95</key>
	<integer>0</integer>
	<key>95b</key>
	<integer>0</integer>
	<key>96</key>
	<integer>0</integer>
	<key>96b</key>
	<integer>0</integer>
	<key>9b</key>
	<integer>2</integer>
	<key>Bricks</key>
	<integer>96</integer>
	<key>Lines</key>
	<string>6</string>
</dict>
</plist>
