<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<integer>1</integer>
	<key>10</key>
	<integer>1</integer>
	<key>10b</key>
	<integer>2</integer>
	<key>11</key>
	<integer>1</integer>
	<key>11b</key>
	<integer>1</integer>
	<key>12</key>
	<integer>1</integer>
	<key>12b</key>
	<integer>2</integer>
	<key>13</key>
	<integer>1</integer>
	<key>13b</key>
	<integer>1</integer>
	<key>14</key>
	<integer>1</integer>
	<key>14b</key>
	<integer>2</integer>
	<key>15</key>
	<integer>1</integer>
	<key>15b</key>
	<integer>1</integer>
	<key>16</key>
	<integer>1</integer>
	<key>16b</key>
	<integer>2</integer>
	<key>1b</key>
	<integer>1</integer>
	<key>2</key>
	<integer>1</integer>
	<key>2b</key>
	<integer>2</integer>
	<key>3</key>
	<integer>1</integer>
	<key>3b</key>
	<integer>1</integer>
	<key>4</key>
	<integer>1</integer>
	<key>4b</key>
	<integer>2</integer>
	<key>5</key>
	<integer>1</integer>
	<key>5b</key>
	<integer>1</integer>
	<key>6</key>
	<integer>1</integer>
	<key>6b</key>
	<integer>2</integer>
	<key>7</key>
	<integer>1</integer>
	<key>7b</key>
	<integer>1</integer>
	<key>8</key>
	<integer>1</integer>
	<key>8b</key>
	<integer>2</integer>
	<key>9</key>
	<integer>1</integer>
	<key>9b</key>
	<integer>1</integer>
	<key>Bricks</key>
	<integer>16</integer>
	<key>Lines</key>
	<integer>1</integer>
</dict>
</plist>
